# UPDATE_HERE
# https://golang.org/dl/
golang 1.25.5
# https://github.com/goreleaser/goreleaser/releases
goreleaser 2.13.2
# https://github.com/vektra/mockery/releases
mockery 3.6.1
# https://github.com/caarlos0/svu/releases
svu 3.3.0
# https://github.com/golangci/golangci-lint/releases
golangci-lint 2.8.0
